<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Wiring distribution app</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  </head>

  <body>
    <h2 class="text-center">Distribute clients between power hubs</h2>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-xs-6">
              <form action="/" method="post" enctype="multipart/form-data">
                <p>Please upload client coordinates</p>

                <input type="file" id="input_data" name="input_data" class="form-control" required>

                <button class="btn btn-md btn-primary btn-block mt-2" type="submit">Upload</button>
              </form>
            </div>
        </div>

      {% if errors %}
        <div class="row justify-content-center">

          {% for message in errors %}
          <div class="alert alert-danger mt-2 col-xs-6">{{ message }}</div>
          {% endfor %}
        </div>
      {% elif hubs %}
      <h4 class="mt-4">Results</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Hub ID</th>
              <th>Hub coordinates</th>
              <th>Hub pin #</th>
              <th>Client ID</th>
              <th>Cable length</th>
            </tr>
          </thead>
          <tbody>
            {% for hub_id, hub_info in hubs.items() %}
                {% for pin_id, cid, cable_len in hub_info.pins %}
                <tr>
                  {% if loop.first %}
                  <td rowspan="{{ loop.length }}">{{ hub_id }}</td>
                  <td rowspan="{{ loop.length }}">{{ hub_info.position|join(",") }}</td>
                  {% endif %}
                  <td>{{ pin_id }}</td>
                  <td>{{ cid }}</td>
                  <td>{{ cable_len }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}

    </div> <!-- /container -->
  </body>
</html>
